body {
	font-family: 'Anonymous Pro';
	font-size: 3em;
	transition: background-color 1s, color 1s;
	text-transform:uppercase;
}

body.invert {
	background-color: #000;
	color: #fff;
}

.overlay {
	position: absolute;
	top: 0;
	text-align: center;
	width:100%;
	opacity: 0;
	transition:opacity 1s;
	font-size: .5em;
}

.gnomon {
	position:relative;
}

.gnomon .input {
	margin-top:100px;
	height: 60px;
}

.gnomon .output {
	margin-top:40px;
}

.gnomon .center {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.gnomon .input-box {
	opacity:0;
	height:0;
}

.gnomon .icon {
	display:block;
	border-radius:40px;
	line-height: 40px;
	vertical-align: middle;
	color:white;
	background-color: #430566;
	margin: 0 auto;
	text-align:center;
	height: 40px;
	width: 40px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.4);
	transition: background-color .2s;
}

.gnomon .icon-wrapper::after {
	content:'';
	display:block;
	border-radius:20px;
	line-height: 20px;
	box-shadow: 0 0 10px 10px rgba(67, 5, 102,.4);
	height: 20px;
	width: 20px;
	vertical-align: middle;
	background-color: rgba(67, 5, 102,.4);
	margin: 0 auto;
	animation: iconShadow 3s infinite;
}

.gnomon .icon .fa {
	display:block;
	padding-top:3px;
}

/* Animation States*/

.float {
	animation: float 3s infinite;
}

.vanish {
	opacity: 0;
	transition:opacity 1s;
}

.reveal {
	opacity: 1;
	transition:opacity 1s;
}

.wink {
	animation: wink 1s forwards;
}

.glitch {
	background-color: #ddd !important;
	animation: glitch .4s infinite;
}

@keyframes static {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@keyframes wink {
  from { transform:rotateX(0deg); }
  to { transform:rotateX(90deg); }
}

@keyframes float {
  0%  { transform: scale(1.1,1.1) translate(0,-25px);}
  50%   { transform: scale(.9,.9) translate(0,0); }
  100%  { transform: scale(1.1,1.1) translate(0,-25px);}
}

@keyframes iconShadow {
  0%  { transform: rotateX(80deg) scale(.9,.9);}
  50%   { transform: rotateX(80deg) scale(1.1,1.1); }
  100%  { transform: rotateX(80deg) scale(.9,.9);}
}

@keyframes glitch {
  0%  { transform: translate(-2px,5px) scale(.9,.9) skew(81deg)}
  18%   { transform: translate(0,0) scale(1.1,.5); }
  20%  { transform: translate(3px, 1px) scale(.9,.9) skew(-78deg);}
  50%  { transform: translate(0, -5px) scale(.9,.9);}
  83%   { transform: translate(-1px, -1px) scale(.2,1.1) skew(88deg); }
  100%  { transform: translate(2px, 3px) scale(.9,.9);}
}