body {
	font-family: 'Anonymous Pro';
	font-size: 3em;
	transition: background-color 1s, color 1s;
}

body.invert {
	background-color: #000;
	color: #fff;
}

body.invert .triangle {
}


.interface {
	margin-top:100px;
}

.input {
	height: 60px;
}

.output {
	margin-top:40px;
	text-transform:uppercase;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.vanish {
	opacity: 0;
	transition:opacity 1s;
}

x.input::after {
	content: '|';
	font-weight: bolder;
	text-align: center;
    opacity:1;
    animation: flickerAnimation 1s infinite;
}

.input-box {
	opacity:0;
	height:0;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 30px 10px 0 10px;
	border-color: #430566 transparent transparent transparent;
	margin: 0 auto;
	animation: pulseAnimation 3s infinite;
}

.icon {
	display:block;
	border-radius:40px;
	line-height: 40px;
	vertical-align: middle;
	color:white;
	background-color: #430566;
	margin: 0 auto;
	text-align:center;
	height: 40px;
	width: 40px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.4);
	animation: floatingIcon 3s infinite;
}

.icon-wrapper::after {
	content:'';
	display:block;
	border-radius:20px;
	line-height: 20px;
	box-shadow: 0 0 10px 10px rgba(67, 5, 102,.4);
	height: 20px;
	width: 20px;
	vertical-align: middle;
	background-color: rgba(67, 5, 102,.4);
	margin: 0 auto;
	transform: ;
	animation: iconShadow 3s infinite;
}

.icon .fa {
	display:block;
	padding-top:3px;

}
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}

@keyframes floatingIcon {
  0%  { transform: scale(1.1,1.1) translate(0,-25px);}
  50%   { transform: scale(.9,.9) translate(0,0); }
  100%  { transform: scale(1.1,1.1) translate(0,-25px);}
}

@keyframes iconShadow {
  0%  { transform: rotateX(80deg) scale(.9,.9);}
  50%   { transform: rotateX(80deg) scale(1.1,1.1); }
  100%  { transform: rotateX(80deg) scale(.9,.9);}
}